<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= namespace %> Tests</title>

    <link rel="stylesheet" href="assets/qunit.css">

    <script src="assets/qunit.js"></script>
    <script src="index.js"></script>
    <script src="helpers/testem.js"></script>
  </head>

  <body>
    <div id="qunit"></div>
    <div id="qunit-fixture"></div>
    <script>
      require('<%= modulePrefix %>/tests/helpers/test-helper');
      require('<%= modulePrefix %>/tests/helpers/test-loader');
    </script>
  </body>
</html>
